@model CartViewModel

@{
    ViewData["Title"] = "Your Cart";
}
<!--538.  Edit model, title, and h1-->
<!--518.  Need to check if there's any item, if there isn't display an error'-->
@if (Model.CartItems.Count > 0)
{
    <h1>Your Cart</h1>
    <!--539.  Create table for items-->
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th></th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        <!--540.  Create a foreach to loop through the model-->
        @foreach(var item in Model.CartItems)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>
                    <a asp-action="Add" asp-route-id="@item.ProductId" class="btn btn-sm btn-primary">+</a>
                    <a asp-action="Decrease" asp-route-id="@item.ProductId" class="btn btn-sm btn-success">-</a>
                    <a asp-action="Remove" asp-route-id="@item.ProductId" class="btn btn-sm btn-danger">Remove</a>
                </td>
                <td>@item.Price.ToString("C2")</td>
                <td>@Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString("C2")</td>
            </tr>
        }
        <!--541.  Create a new tr for grand total-->
        <tr>
            <td class="text-right" colspan="4">Grand Total: @Model.GrandTotal.ToString("C2")</td>
        </tr>
        <!--542.  Create 2 more tr for clear and checkout button-->
        <tr>
            <td class="text-right" colspan="4">
                <a asp-action="Clear" class="btn btn-danger">Clear Cart</a>
                <a href="#" class="btn btn-primary">Check Out</a>
            </td>
        </tr>

        <!--543  Go to CartController and create a decrease method-->
    </table>


}
else
{
    <h3 class="display-4 text-center">Your Cart is Empty</h3>
}
<!--519.  Go to startup.cs to enable session-->
