<!--471. Add model, edit title and header-->
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4 pb-5">All Products</h1>

<!--472.  Create a row div class with a foreach loop to display items name, description and price-->
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <!--579.  Create an ajaxbg div to display an item have been added to the cart-->
            <div class="ajaxbg d-none">
                <img src="~/images/ajax-loader.gif" />
                <p class="lead alert alert-success text-center d-none">
                    The Product has been added! 
                </p>
            </div>
            <!--580.  Create an images folder in root and add the ajax loaded gif-->
            <!--581.  Go to site.css to modify the ajax-->
            <!--583.  Do the smae thing in ProductByCategory.cshtml-->

            <img src="~/media/products/@item.Image" class="img-fluid" alt="" />
            <h4>@item.Name</h4>
            <div>
                @Html.Raw(item.Description)
            </div>
            <p>
                @item.Price.ToString("C2")
            </p>
            <p>
                <!--578.  Add a custom data id attribute for ajax call to correct page-->
                <!--534.  Use tag Hlper rather than href for redirection-->
                <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" data-id="@item.Id"  class="btn btn-primary addToCart">Add to cart</a>
                <!--535.  Do the same thing in ProductsByCategory-->
            </p>
        </div>
    }
    @if (ViewBag.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center">
            <Pagination page-count="@ViewBag.TotalPages" page-target="/products"
                        page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></Pagination>
        </div>
    }
    
</div>
<!--473.  Go back to productscontroller and create a method to pull products by category-->

<!--586.  Create a section script for ajax code and do the same in ProductByCategory.cshtml, rather than click add to cart and it automatically
    take you to Viewcart page, it will display just the amount-->
@section Scripts{ 
<script>
    $(function () {
        $("a.addToCart").click(function (e) {
            e.preventDefault();

            let ajaxDiv = $(this).parent().parent().find("div.ajaxbg");
            ajaxDiv.removeClass("d-none");

            let id = $(this).data("id");

            $.get('/cart/add/' + id, {}, function (data) {
                $("div.smallcart").html(data);
                ajaxDiv.find("img").addClass("d-none");
                ajaxDiv.find("p").removeClass("d-none");
                setTimeout(() => {
                    ajaxDiv.animate({ opacity: 0 }, function () {
                        $(this).addClass("d-none").fadeTo(1, 1);
                        $(this).find("img").removeClass("d-none");
                        $(this).find("p").addClass("d-none");
                    });
                });
            });
        });
    });
</script>
<!--587.  Go to CartController Add method-->
}
